html(lang="ja")
 head
  meta(charaset="utf-8")
  link(rel="stylesheet" href="../css/parallel.css")
  link(rel="stylesheet" href="../css/active.css")
  title active

 body
  a(name="top")
  include nav
  br
  .about
   h1 活動記録
   p このページでは僕が大学で学んだこと、活動したことを記載しています。参考になれば幸いです。
  .index2
    table(class="index")
     tbody
      tr
       th
        a(href="#skill") Skill
      tr
       th
        a(href="#study") Study
      tr
       th
        a(href="#hobby") hobby
      tr
       th
        a(href="#job") job
    br
  include active_index
     
