doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    style(src="../css/prallel.css")
    title Memo
  body
    h1 About
    p 主に自分ように今後の目標やしたいこと欲しいモノなどをテキトーにメモしていくページです。何か参考になることがあれば幸いです。
    ul
     #tabbody
       li 
        a(href="#to_do") やるべきリスト
       li
        a(href="#a_wish_list") 欲しいモノリスト
       li
        a(href="#idea") アイデア
      
    #contents
      #to_do
       ul 
        li: #school_work 学業
        li: #hobby やりたいこと
      #a_wish_list
        ul
         li.thing1 クルーザーボード
         li.thing2 板
         li.thing3 ホワイトボード
         
      #idea
        ul
         li: a(href="#idea1") 
         li: a(href="#idea2")
