nav
 ul: .nav  
  li: a(href="top.html") Home
  li: a(href="freedom.html") Freedom
  li: a(href="active.html") Active
  li: a(href="work.html") Work
  li: a(href="portfolio.html") portfolio
  li: a(href="contact") Contact
