extend includes/active_about
block title
 title Skill

block class_letter
 .Skill
  p このページでは今までに学習してきたプログラミング言語を主に紹介します。大学に入学まではプログラミング言語は扱ったこともなく、コードも書いた事がありませんでした。大学一年目でプログラミング言語に挫折し、それ以降苦手意識を持ち、極力避けてきました。しかし、もう一度　1から学習し直し、大学講義レベルのコードなら書けるようになりました。またこれを機に現在は積極的に様々なプログラム言語を基礎から学習しています。IT業界の流行の移ろいは著しいと感じ、ひとつを極めるのではなく、様々な分野に対応できるようになるべく幅広く扱えるプログラマーになりたい。またIotなど流行に伴い、Raspberry_Piなどのセンサー技術や筋電位や生体電気などを計測しそれ活かすための電子工学を学習していき、システムエンジニアではなくエンジニアを目指していきたい。そのためにも理系の基礎となる微分も学習する（予定）。
