doctype html
html
  head
    meta(charaset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Cli_portfolio
    //-link(rel='stylesheet', href='css/parallel_phone.css', media='screen and (max-width: 720px)')
    link(rel='stylesheet', href='../css/parallel.css')
    link(rel='stylesheet', href='../css/top.css')
    //-link(rel='stylesheet', href='../css/sp_top.css',media='screen and(max-width:600px)')
    link(rel='index', href='prof.html')
    link(rel='index', href='skill.html')
  body
    a(name='top')
    div
     include includes/nav
    .title
      a(name='title')
        //img(src='../picture/title.jpg', alt='none')
        p ほげ
        //-a.title(href='#prof') Helllo World
    .prof
      //.policy
        h1 Applying DCPA cycle      
      .introduction
        .introduction_top
         h1 このサイト
         p hogehoge
        .introduction_bottom
         h1 亀谷浩也
         p p
      .my_image
       img.prof(src='../picture/prof.jpg', alt='profile_img')
    .contents
     .menu
      ul
       li: a(href="active.html") なんか      
       li: a(href="active.html") active
       li: a(href="freedom.html") freedom
       li: a(href="work.html") Work
       li: a(href="portfolio.html") portfolio
       li: a(href="contact") contact
     .text
      .text_item
       include includes/top/this_page
      .text_item
       include includes/top/active
      .text_item
       include includes/top/freedom
      .text_item
       include includes/top/work
      .text_item
       include includes/top/portfolio
      .text_item
       include includes/top/contact
 
